Storia Clinica.json
{
  "name": "YourMED",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "YourMED",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "=file[]"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        512,
        64
      ],
      "id": "a5188bca-9f68-4fbf-bfcd-a6dbde0626fd",
      "name": "Webhook",
      "webhookId": "c0ae9f6c-72fe-417b-848b-2717c1805527"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Agisci come un medico legale esperto con esperienza in valutazioni del danno biologico, responsabilità professionale e accertamenti medico-legali in ambito civile, penale e assicurativo.\n\nContesto: ti verranno forniti testi o informazioni cliniche, referti, relazioni o descrizioni di eventi che richiedono una valutazione medico-legale.\n\nObiettivo: redigere un parere medico-legale professionale, chiaro e strutturato, che analizzi criticamente i dati forniti e formuli considerazioni tecnico-giuridiche motivate.\n\nIstruzioni:\n- Usa linguaggio tecnico e giuridicamente corretto.\n- Segui una struttura ordinata: Premessa, Analisi medico-legale, Valutazione, Conclusioni.\n- Indica sempre i nessi causali tra eventi, patologie e conseguenze biologiche.\n- Specifica, se applicabile, criteri di valutazione del danno (es. linee guida medico-legali o tabelle ministeriali).\n- Mantieni tono formale, neutro e obiettivo.\n- Non inserire opinioni personali o frasi vaghe.\n- Se i dati sono insufficienti, segnala le informazioni mancanti e limita la valutazione di conseguenza.\n\nBasati su queste informazioni: {{ $json.full_text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1952,
        64
      ],
      "id": "bd360aef-a73f-4133-85d5-a68baefaec1d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2096,
        320
      ],
      "id": "27e4db70-812d-489f-ad5b-f202618df5d8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5vkp0bda90v7cOFB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2304,
        64
      ],
      "id": "26051b9d-bcbf-4474-9728-e4992b1df983",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        704,
        64
      ],
      "id": "5a6faeb2-14d6-4b01-bfa2-37f864ab658a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// Estrae e concatena il testo OCR da tutti i PDF\nconst all = $input.all();\n\nconst combined = all.map(item => {\n  // cerca il testo OCR nel campo pages[0].markdown\n  if (item.json.pages && item.json.pages[0]?.markdown) {\n    return item.json.pages[0].markdown;\n  }\n  // fallback: altri campi comuni\n  return item.json.text || item.json.result || \"\";\n}).join(\"\\n\\n---\\n\\n\");\n\nreturn [{ json: { full_text: combined } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        64
      ],
      "id": "a9535959-ff9f-4a10-85fc-4071fce19177",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Rinominare i campi binari di tutti gli item in 'file'\nconst items = $input.all();\nreturn items.map(item => {\n  const binKey = Object.keys(item.binary || {})[0];\n  if (binKey && binKey !== 'file') {\n    item.binary.file = item.binary[binKey];\n    delete item.binary[binKey];\n  }\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        64
      ],
      "id": "253ff86b-1bf3-400f-a0a4-e72234501d8e",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1104,
        64
      ],
      "id": "eed33a93-75e9-420b-bc15-e055b05cfaf5",
      "name": "Mistral OCR 1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1ElRl99nr2gX7MRu",
          "name": "Mistral"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1312,
        64
      ],
      "id": "bf47ee83-7fb4-4018-8bd3-d0799c10bd67",
      "name": "Mistral OCR 2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1ElRl99nr2gX7MRu",
          "name": "Mistral"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1520,
        64
      ],
      "id": "c795965c-e3d2-4614-8dca-266dce68fe68",
      "name": "Mistral OCR 3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1ElRl99nr2gX7MRu",
          "name": "Mistral"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Mistral OCR 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral OCR 1": {
      "main": [
        [
          {
            "node": "Mistral OCR 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral OCR 2": {
      "main": [
        [
          {
            "node": "Mistral OCR 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral OCR 3": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc166e3d-195b-467b-a694-48763ea62cdd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3330076086be54bd06e0accaca29e05033fe421cd33c41544072cd428fce7964"
  },
  "id": "c6kY8U3vKc7HxgVa",
  "tags": []
}